@import "../../global.scss";

.contact {
  //background-color: #21d4fd;
  //background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  background-color: #ff3cac;
  background-image: linear-gradient(
    32deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );

  .container {
    display: flex;
    height: 100%;
    flex-direction: row;

    @include mobile {
      flex-direction: column;
    }

    .left {
      flex: 1;
      position: relative;
      left: 90px;

      @include mobile {
        left: 0;
        right: 0;
      }

      .photo {
        overflow: hidden;
        position: relative;
        height: 300px;

        @include mobile {
          height: 180px;
          width: 280px;
          overflow: hidden;
          top: 80px;
        }
      }
    }
    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        font-size: 35px;
        
        @include mobile{
          text-align: center;
          font-size: 30px;
        }
      }

      form {
        width: 50%;
        height: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 40px;

        @include mobile {
          flex-direction: column;
          height: 40%;
          width: 70%
        }
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: purple;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        a {
          text-decoration: none;
          color: inherit;
        }
      }

      span {
        color: #24ff24;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
      }
    }
  }
}
