@import "../../global.scss";

.works {
  background-color: #fad961;
  background-image: linear-gradient(101deg, #fad961 0%, #f76b1c 100%);
}

.works-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  overflow-y: hidden;

  @include mobile {
    justify-content: center;
  }

  .arrow {
    position: absolute;
    z-index: 1;
    transform: scale(3.8);
    cursor: pointer;

    @include mobile {
      padding-top: 140px;
      overflow: hidden;
    }

    &.left {
      left: 300px;
      bottom: center;

      @include mobile {
        left: 100px;
        bottom: 260px;
      }
    }

    &.right {
      right: 200px;
      bottom: center;
      z-index: 1;

      @include mobile {
        right: 60px;
        bottom: 260px;
      }
    }
  }

  .page-title {
    margin-bottom: 400px;
    display: flex;

    @include mobile {
      margin-left: center;
    }
  }

  .slider {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      width: 2600px;
      space-between: 10px;
      right: 80px;
      justify-content: unset;
    }

    .slider-container {
      width: 100vw;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        left: 5px;
        margin-left: 1px;
      }

      .item {
        width: 700px;
        height: 80%;
        border: solid 3px black;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 5px 5px rgba($color: #2c364d, $alpha: 0.3);

        @include mobile {
          width: 300px;
          flex-direction: column;
        }

        .left {
          flex: 8;

          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;

          .left-container {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
              font-size: 28px;

              @include mobile {
                font-size: 20px;
                overflow: hidden;
              }
            }

            p {
              font-size: 20px;

              @include mobile {
                font-size: 15px;
                overflow: hidden;
              }
            }
          }
        }
        .right {
          flex: 4;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;

          .button-container{
          
          a {
            text-decoration: none;
            width: 180px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 1px black;
            color: inherit;
            border-radius: 70px;
            font-weight: 400;
            box-shadow: 0 15px 15px rgba($color: #2c364d, $alpha: 0.3);
            text-align: center;
            transition: 0.5s;

            &:hover {
              
              color: white;
              transition: all 0.6s ease;
              letter-spacing: 2px;
            }

            .button-container &::before{
              content: "";
              top:0;
              left: 0;
              width:50%;
              height: 100%;
              position: absolute;
              background: linear-gradient(to left, rgba(255,255,255, 0.15), transparent)
            }

            @include mobile {
              height: 70px;
              width: 100px;
            }
          }
          }
        }
      }
    }
  }
}
