@import "../../global.scss";

// background color for the entire section
.intro {
  background-color: #4158d0;
  background-image: linear-gradient(
    65deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  // everything is built in the glassmorphism effect
  .glass {
    display: flex;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
    // the left part of the glass container has .3 of the entire container where only my image is the object in it
    .left {
      flex: 0.3;
      overflow: hidden;
      @include mobile {
        flex: 0.5;
      }

      // the container that has the image
      .imgContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
          align-items: start;
          padding-top: 30px;
        }

        // styling the image so it looks good
        img {
          height: 80%;
          width: 60%;
          border-radius: 3em;
          display: flex;
          align-items: center;
          justify-content: center;

          box-shadow: 5px 5px 5px rgba($color: #2c364d, $alpha: 0.3);
          @include mobile {
            height: 85%;
            width: 47%;
          }
        }
      }
    }

    // right side of the glass container has .7 of the entire container
    .right {
      flex: 0.7;
      overflow: hidden;
      position: relative;

      @include mobile {
        flex: 0.5;
      }

      // the wrapper for the text
      .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mobile {
          padding-left: 0;
        }

        // the text itself
        h1 {
          font-size: 60px;
          margin: 14px 0 24px 0;

          @include mobile {
            font-size: 40px;
          }
        }
        h2 {
          font-size: 40px;
        }

        // h3 has the ityped effect
        h3 {
          font-size: 35px;

          @include mobile {
            font-size: 25px;
          }
          span {
            margin-top: 10px;
            font-size: inherit;
            color: $typingColor;
          }

          // the actual effect settings
          .ityped-cursor {
            animation: blink 1s infinite;
          }

          // making the ityped-cursor more realistic
          @keyframes blink {
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
