@import "./global.scss";

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.app {
  height: 100vh;

  .sections {
    // glassmorphism

    width: 100%;
    // to calculate the top bar from the sections
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    // snap scrolling mandatory for sections
    scroll-snap-type: y mandatory;
    scrollbar-width: none; // for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      // every item in sections gets this base template
      width: 100w;
      height: calc(100vh - 70px);
      //snap scrolling enabled
      scroll-snap-align: start;
    }
  }
}
